
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <br />
    <h2>Reports</h2>
    <br />

    <p>@Html.ActionLink("Inventory Report", "Inventory", "Reports")</p>
    <p>@Html.ActionLink("Sales Report", "Sales", "Reports")</p>

</div>
    





