@model IEnumerable<GuildCars.UI.Models.ApplicationUser>
@{
    ViewBag.Title = "Sales";

}

<div class="container">
    <br />
    <h2>Sales Report</h2>
    <br />

    <div class="container" style="border:solid">
        <br />
        <h4>Filters</h4>
        <form id="searchForm" class="form-inline">
                <label for="User" class="col-sm-1"><strong>User</strong></label>
                <select id="users">
                    <option value="">-All-</option>
                    @foreach (var user in Model)
                    {
                        <option value="@user.UserName">@user.UserName</option>
                    }
                </select>

                <label for="fromDate" class="col-sm-2 justify-content-end"><strong>From Date</strong></label>
                <input type="text" class="form-control col-sm-2" id="fromDate" />
                <label for="toDate" class="col-sm-2 justify-content-end"><strong>To Date</strong></label>
                <input type="text" class="form-control col-sm-2" id="toDate" />

            <button type="submit" class="btn btn-primary col-sm-4">Search</button>
        </form>
        <br />

    </div>
    <br /><br />
    <div id="searchResults">
    </div>
    
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

            $("#searchForm").submit(function (e) {
                search();
                return false;

            });
        });

        function search() {
            $('#searchResults').empty();
            var params;
            params = 'userName=' + $('#users').val() + '&fromDate=' + $('#fromDate').val() +
                '&toDate=' + $('#toDate').val();
            

            $.ajax({
                type: 'GET',
                url: 'http://localhost:57886/api/Sales/Search?' + params,
                success: function (results) {
                    var row = '<h4>Search Result</h4><br />';
                    row += '<table class="table-bordered table-striped" style="border:3px solid black" cellpadding="10">';
                    row += '<tr style="background-color:lightgray"><th> User</th><th>Total Sales</th><th>Total Vehicles</th></tr >';
                                        
                    $.each(results, function (index, report) {
                                                                       
                        row += '<tr>' + '<td>' + report.FirstName + ' ' + report.LastName + '</td>';
                        row += '<td>' + formatter.format(report.TotalSales) + '</td>';
                        row += '<td>' + report.TotalVehicles + '</td></tr>';                        

                    });

                    row += '</table>';
                    $('#searchResults').append(row.toString());
                },
                error: function () {
                    alert('Error performing search, try again later...')
                }
            });

        }

        const formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
            minimumFractionDigits: 2
        })

    </script>


}
