@model IEnumerable<GuildCars.Models.Tables.Specials>
@{
    ViewBag.Title = "Specials";
}

<div class="container">
    <br />
    <h2>Specials</h2>

    <div class="row" style="width:auto">
        <div class="col">
            <div class="card">
                @foreach (var specials in Model)
                {
                    
                <div class="card" id="card">
                     <div class="card-body">
                         <div class="row">
                              <div class="col-sm-3">
                                   <img src="@Url.Content("~/Images/Special_sign.jpg" )" />
                              </div>
                              <div class="col-sm-9">
                                  <br />
                                  <h4 class="card-title text-lg-left" style="font:bold">@specials.SpecialsTitle</h4>
                                  <p class="card-text text-left">@specials.SpecialsDescription</p>
                              </div>
                         </div>
                     </div>
                </div>
                }
            </div>
        </div>
    </div>

</div>